<div class="container">
<%= form_for(@micropost) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="text">
  <%= f.text_field :name, placeholder: "Назва рецепту..." %>
</div>
<br>
<div class="field">
  <%= f.text_area :content, placeholder: "Опис рецепту..." %>
</div>
  <%= f.select(:group, raw('<option value="Перші страви">Перші страви</option><option value="Другі страви">Другі страви</option><option value="Випічка">Випічка</option><option value="Салати і закуски">Салати і закуски</option><option value="Десерти">Десерти</option>')) %>
    <span class="picture">
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
    </span>
    <br>
     <%= f.submit "Додати", class: "btn btn-primary" %>
    <% end %>

    <script type="text/javascript">
      $('#micropost_picture').bind('change', function() {
        var size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5) {
          alert('Виберіть файл розмір якого менший 5мб.');
        }
      });
    </script>
  </div>