 <div class="card mt-3 mb-3" style="width: 45vh">
        <%= image_tag micropost.picture.url if micropost.picture? %>
        <div class="card-body">
          <h5 class="card-title"><%= micropost.name %></h5>
          <p class="card-text"><%= micropost.content %></p>
          <a href="#" class="btn btn-outline-dark"><%= micropost.group %></a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Обновлено <%= micropost.created_at %></small>
          <% if current_user?(micropost.user) %>
          <%= link_to "Видалити", micropost, method: :delete %>
          <% end %>
        </div>
    </div>