   <!-- Setting navbar using Bootstrap Framework with appropriate background color -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #eaffff;">
  <%= link_to "Кулінарні рецепти", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <!-- Link that redirect us to Main Page -->
        <a class="nav-link" href="#">Головна сторінка <span class="sr-only">(current)</span></a>
      </li>

      <!-- Dropdown menu for recipes sections -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Розділи
        </a>

        <!-- Sections of dropdown menu -->
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Усі</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Перші страви</a>
          <a class="dropdown-item" href="#">Другі страви</a>
          <a class="dropdown-item" href="#">Випічка</a>
          <a class="dropdown-item" href="#">Десерти</a>
          <a class="dropdown-item" href="#">Салати та закуски</a>
        </div>
      </li>
    </ul>
    <!-- Name of current user -->
    
    <% if logged_in? %>
      <span class="navbar-text mr-5">
        <%= link_to current_user.name , current_user %>
      </span>
    <%= link_to "Вийти", logout_path, method: :delete, class: "btn btn-outline-secondary my-2 my-sm-0", type: "submit" %>

    <% else %>
    <!-- Button for log in and log out, depends on state -->
     <%= link_to "Увійти", login_path, class: "btn btn-outline-secondary my-2 my-sm-0", type: "submit" %>
     <%= link_to "Реєстрація", signup_path , class: "btn btn-outline-secondary my-2 my-sm-0 ml-3", type: "submit" %>
     <% end %>
  </div>
</nav>
